body {
    background-color: #212121;
    color: aliceblue;
}

form,
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.main {
    /* border: 2px solid white; */
    width: 45vw;
    gap: 1em;
}

input,
select {
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: whitesmoke;
}

::placeholder {
    text-align: center;
}

button {
    font-size: 18px;
}

select {
    font-size: 15px;
    background-color: #2c2c2c;
    color: whitesmoke;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px;
    appearance: none;
    cursor: pointer;
}

option {
    background-color: #2c2c2c;
    color: whitesmoke;
}